<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcn.background">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".LoginMenu"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".AisleDisplay"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".PrepareMoney"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".InformationConfig"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".AislePics"
            android:configChanges="locale|keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".AisleSlotAd"
            android:configChanges="locale|keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".PasswordManage"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".AisleManage"
            android:configChanges="locale|keyboardHidden|orientation"></activity>
        <activity
            android:name=".ManageGoods"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".GoodsEdit"
            android:configChanges="locale|keyboardHidden|orientation"></activity>
        <activity
            android:name=".SlotInfoModifyActivity"
            android:configChanges="locale|keyboardHidden|orientation"></activity>
        <activity
            android:name=".MenuActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".PaySettingActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".SerialPortSetting"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".DebugMode"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleInstance"></activity>
        <activity
            android:name=".Updatepro"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".Setting"
            android:configChanges="locale|keyboardHidden|orientation"></activity>
        <activity
            android:name=".exit"
            android:configChanges="locale|keyboardHidden|orientation"></activity>
        <activity
            android:name=".MenuSettingsActivity"
            android:configChanges="locale|keyboardHidden|orientation"></activity>
        <activity
            android:name=".MenuSettingsDriveActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".MenuSettingsSpringActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".MenuSettingsLiftActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".MenuSettingsLatticeActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".MenuSettingsCoffActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".MenuSettingsSnakeActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".MenuLightBarActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".SalesDataActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".GoodsBank"
            android:configChanges="locale|keyboardHidden|orientation"></activity>
        <activity
            android:name=".ReplenishActivity"
            android:configChanges="locale|keyboardHidden|orientation"></activity>
        <activity
            android:name=".GoodsSelect"
            android:configChanges="locale|keyboardHidden|orientation"></activity>
        <activity
            android:name=".FuncConfig"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".StockCapacityActivity"
            android:configChanges="locale|keyboardHidden|orientation"></activity>
        <activity
            android:name=".StockReplenishActivity"
            android:configChanges="locale|keyboardHidden|orientation"></activity>
        <activity
            android:name=".ErrSlotActivity"
            android:configChanges="locale|keyboardHidden|orientation"></activity>
        <activity
            android:name=".TLPAisleDisplayActivity"
            android:configChanges="locale|keyboardHidden|orientation"></activity>
    </application>

</manifest>